@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
:root {
    --mainColor: #000000;
    --mainColorLight: #5a6079;
    --secondaryColor: #8b130b;
    --textColor: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 2rem;
    background-color: #000;
    color: var(--textColor);
    z-index: 3; /* Ensure header has a high z-index */
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 4; /* Ensure nav has a higher z-index than the map */
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a {
        font-size: 1.5rem;
    }
}

#container {
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 10vh auto;
    background-color: #1111;
    z-index: 2; /* Ensure the map has a lower z-index */
}

